---
import Layout from '../layouts/Layout.astro';
import Ping from '../components/Ping.astro';
import Pong from '../components/Pong.astro';
---

<Layout title="Hello world">
	<h1>Hello world!</h1>
	<Ping />
	<Pong />
</Layout>
