<h2>Pong?</h2>

<ul id="pongs">
</ul>

<input type="button" id="start" value="Start listening" />

<script>
let socket;

const addItem = (text) => {
	const item = document.createElement("li");
	item.textContent = text;
	document.querySelector("#pongs").appendChild(item);
}

const handleMessage = (messageEvent) => {
	addItem(messageEvent.data);
	return false;
}

const close = () => {
	addItem("Connection closed");
}

const initConn = () => {
	socket = new WebSocket("ws://localhost:7800/ws-pong/connect");
	socket.onmessage = handleMessage;

	socket.onclose = (code, reason) => {
		console.log("WebSocket connection closed");
		console.log(code);
		console.log(reason);
	};
    socket.onerror = (e) => console.error("WebSocket error:", e);
	socket.onmessage = handleMessage;
    socket.onopen = () => console.log("WebSocket connection created");
}

document.querySelector("#start").addEventListener("click", initConn);
// To establish the connection without
// pressing the button, you can call
// initConn();
</script>